* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000
}

.alert {
    text-align: center;
    color: red;
    font-weight: 700;
}

/* Header */
header {
    height: 46px;
    background-color: #90AACB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    display: flex;
    line-height: auto;
    line-height: 46px;
}

.header-left {
    display: block;
}

.header-right {
    display: block;
    /* float: right; */
    margin-left: auto;
}

.list {
    word-spacing: -4px;
    margin-top: 1px;
}

.item {
    display: inline-block;
    color: #000;
    /* margin-top: 9px; */
    word-spacing: 0px;
}

.item-link {
    padding: 12px 16px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.item:hover > .item-link {
    background-color: #FEF1E6;
    color: #000;
}

.item:hover > .item_menu {
    display: block;
}

.item_menu {
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color:#FEF1E6;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: none;
}

.item_menu-link {
    display: block;
    padding: 0px 16px;
    text-decoration: none;
    font-weight: 700;
    color:rgba(54, 12, 12, 0.8);
}

.item_menu > .item_menu-link:hover {
    background-color:rgba(62, 124, 23, 0.5);
}


.item-icon {
    padding: 4px 16px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.item:hover > .item_nav {
    display: block;
}

.item > .item-name {
    display: inline-block;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgba(255, 176, 133, 0.5);
}

.item_nav {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color:#FEF1E6;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: none;
}

.item_nav::before {
    position: absolute;
    top: -20px;
    right: 12px;
    z-index: -1;
    content: "";
    width: 0px;
    height: 0px;
    border-width: 12px;
    border-color: transparent transparent #FEF1E6 transparent;
    border-style: solid;
    
}

.item_nav::after {
    position: absolute;
    top: -12px;
    right: 0;
    width: 51px;
    height: 20px;
    content: "";
    background-color: transparent;
}

.item_nav-link {
    padding: 0px 16px;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.item_nav-link:hover {
    color: rgba(54, 12, 12, 0.8);
    background-color: rgba(62, 124, 23, 0.5);
}



/* Content */
.main {
    min-height: 90vh;
    /* height: auto */
    margin-top: 46px;
    background-image: linear-gradient(45deg,#F9D5A7 ,#FFB085);
}

.box {
    padding: 64px 32px;
    display: flex;
}

.warp {
    padding: 32px;
}

.form {
    margin: auto;
    padding: 12px 24px;
    max-width: 500px;
    width: 400px;
    border: 1px solid #000;
    background-color: #FEF1E6;
}

tr > td:first-child {
    /* text-align: center; */
    width: 130px;
}

td > input {
    padding: 4px 8px;
    margin: 2px 0;
    font-size: 15px;
}

td:last-child {
    text-align: center;
}

.form-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.btn {
    padding: 4px 16px;
    margin: 16px 0 8px;
    font-size: 15px;
    line-height: 1.5;
}

.table_title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

.table_choice {
    padding: 4px 8px;
    text-decoration: none;
    color: #1E5128;
    cursor: default;
}

.table_choice.none {
    color: #1d809e;
}

.table_choice.none:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color:rgb(231, 106, 215);
}

.table_form {
    margin-bottom: 12px;
}

.table_form > form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_form-input {
    margin: 4px 12px 0 0;
}

.table_form-input > input {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.table_form-input > input[type="radio"] {
    margin-left: 12px;
    margin-right: 4px;
}

.table_form-input > input[type="radio"] ~ label {
    margin-right: 12px;
}

.table_add {
    position: absolute;
    top: 70px;
    right: 300px;
}

.table {
    display: flex;
    /* min-width: 800px; */
    flex-wrap: wrap;
    justify-content: center;
}

.table_row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    min-width: 700px;
    background-color:#F0F8FF;
}

.table_row.used {
    background-color: rgba(252, 82, 21, 0.15);
}

.table_row.blocked {
    background-color: rgba(252, 82, 21, 0.15);
} 

.row-header {
    font-weight: 700;
    background-color:#90AACB

}
.row {
    text-align: center;
    padding: 8px 4px;
    border-right: 1px solid #000;
}

p.rowshow ~ p.rowshow {
    margin-top: 8px;
}

.row-id {
    width: 50px;
}

.row-user {
    width: 150px;

}

.row-pass {
    width: 150px;
}

.row-name {
    width: 200px;
}

.row-email {
    width: 250px;
}

.row-role {
    width: 100px;
}

.row-name {
    width: 150px;
}

.row-type {
    width: 100px;
}

.row-service {
    width: 100px;
}

.row-service.colorRed {
    color: red;
}

.row-service.colorBlue {
    color: blue;
}

.row-time {
    width: 150px;
}

.row-dateGet {
    width: 200px;
}

.row-used {
    width: 150px;
}

.row-edit {
    width: 80px;
}

.row-edit.row-3 {
    width: 100px !important;
}

.row-edit-icon {
    margin: 0 4px;
    text-decoration: none;
}

.row-edit-icon.green {
    color: green;
}

.row-edit-icon.orange {
    color: rgb(252, 82, 21);
    display: inline-block;
    min-width: 18px;
}

.row-edit-icon.red {
    color: crimson;
}

.row-edit-icon.blue {
    color:rgb(32, 136, 184)
}

.pagination {
    margin: 24px;
    text-align: center;
}

.pagination > a {
    padding: 4px 10px;
    margin: 0 2px;
    color: rgb(21, 37, 28);
    background-color:rgb(135, 170, 170);
    user-select: none;
    text-decoration: none;
}

.pagination > a:hover {
    opacity: 0.7;
}

.pagination > .active {
    background-color:cyan;
}

.box_get {
    padding: 30px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
}

.box_get-heading {
    /* margin: 16px; */
    text-align: center;
}

.box_get-heading > p {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.box_get-body {
    margin: 8px;
}

.get-body_input {
    margin: 8px 0;
}

.get-body_input.center {
    text-align: center;
}

.get-body_input > select,
.get-body_input > input {
    font-size: 18px;
    padding: 8px 12px;
    line-height: 1.5;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(230, 57, 57);
}

.get-body_input > select {
    width: 250px;
}

.get-body_input-title {
    margin: 8px 0;
    display: inline-block;
    width: 60px;
    font-size: 16px;
}

.get-body_input-radio {
    background-color:rgb(161, 181, 219);
    border-radius: 8px;
    display: inline-block;
    min-width: 90px;
}


.get-body_input-radio > label {
    padding: 2px 18px 2px 4px;
}

.get-body_input-radio > .pdr-45 {
    padding-right: 42px;
}

.get-body_input > .btn{
    padding: 8px 64px;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(45, 141, 185);
    letter-spacing: 4px;
}

.get-body_input > .btn:hover {
    background-color: rgba(199, 55, 55, 0.3);
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box.open {
    display: flex;
}

.modal-warp {
    position: fixed;
    top: 15%;
    border-radius: 10px;
    background-color: #FEF1E6;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.modal-headding {
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    background-color:#F9D5A7;
}

.modal-headding-title {
    font-size: 20px;
    font-weight: 700;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
}

.modal-close:hover {
    border-top-right-radius: 10px;
    background-color: #ccc;
}

.modal-body {
    padding: 16px 32px;
}

.body-row {
    display: flex;
    margin: 12px 0;
}

.body-row > select {
    padding: 6px 6px;
    font-size: 14px;
}

.body-row > .btn {
    margin-left: auto;
}

.body-content {
    min-width: 85px;
    user-select: none;
}

.body-content-item > label > span {
    display: inline-block;
    padding: 4px 0;
}

.mr-10 {
    margin-right: 10px;
}
.item-mail {
    min-width: 140px;
}

.item-pass {
    min-width: 60px;
}

.body-input {
    outline: none;
    min-width: 200px;
    padding: 4px 8px;
    font-size: 14px;
}

.output-name {
    letter-spacing: 0.3px;
}

.output-status {
    display: inline-block;
}

.output-status.blocked {
    color:rgb(252, 82, 21);
    font-weight: 700;
}

.output-status.normal {
    color:rgb(74, 228, 74);
    font-weight: 700;
}

.select-row {
    width: 240px;
}

/* Footer */
/* footer {

} */