/*  hd: header
    sd: slider
    ct: content
    ft: footer 
    moda: modal
*/

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-65 {
    padding-bottom: 65px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.bold-5 {
    font-weight: 500 !important;
}

.bold-6 {
    font-weight: 600 !important;
}

.bold-7 {
    font-weight: 700 !important;
}

.none {
    display: none !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
#header {
    height: 56px;
    background-color:rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
}

.hd__nav {
    display: flex;
    justify-content: space-between;
}

.hd__nav-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    word-spacing: -5px;
}

.hd__nav-list ion-icon {
    font-size: 28px;
}

.hd__nav-list > .hd__nav-item > a {
    color: #fff ;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 56px;
    padding: 0 16px;
    display: block;
    z-index: 0;
    position: relative;
    cursor: pointer;
}

.hd__nav-list > .hd__nav-item:not(:first-child):before {
    content: "";
    position: absolute;
    top: 0;
    left: auto; /*change here*/
    right: 0; /*change here*/
    width: 0;
    height: 100%;
    background-color: rgba(250, 32, 61, 0.8);
    transition: .30s;
    z-index: -1;
}

.hd__nav-list > .hd__nav-item:not(:first-child):hover:before {
    width: 100%;
    left: 0; /*change here*/
    right: auto; /*change here*/
}

.hd__nav-item {
    display: inline-block;
    position: relative;
    word-spacing: 0;
}

.hd__nav-item:first-child:hover {
    opacity: 0.7;
}

.hd__nav-item-link {
    position: inherit;
    top: 6px;
}

.account {
    line-height: 56px;
    color: #fff;
    margin: 0;
    display: inline-block;
    margin-right: 8px;
    font-size: 18px;
    position: relative;
}

.profile-icon {
    font-size: 35px !important;
    color: #fff;
    margin-left: 8px;
}

.profile-icon:hover {
    opacity: 0.6;
}

.hd__nav-list li:hover .subnav {
    display: block;
}

.subnav li:hover a {
    /* background-color: #F0A500; */
    /* background-color: rgba(250, 32, 61, 0.8); */
    background-image: linear-gradient(320deg, #FFE459, #F43B86, #3D087B, #11052C);
    color: #fff;
}

.subnav {
    display: none;
    position: absolute;
    top: 100%;
    right: -65px;
    min-width: 170px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    word-spacing: initial;
    z-index: 3;
}

.subnav::before, .subnav::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: 76px;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: 0;
}

.subnav::after {
    background-color: #fff;
    top: -9px;
    left: 77px;
    z-index: -1;
}

.hd__nav-list .account a {
    text-decoration: none;
    color: #fff;
}

.account .subnav a {
    color: #000;
    font-size: 17px;
    padding: 0 12px;
    line-height: 45px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}


/* Modal hỗ trợ */
.modaSP.open {
    display: flex;
}

.modaSP {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaSP-container {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeInSP ease 1s;
    /* margin-top: 50px; */
    border-radius: 25px;
    display: flex;
    /* justify-content: space-between; */
}

.modaSP-page {
    width: 50%;
    text-align: center;
}

.modaSP-page-hd {
    background-color: #F0A500;
    padding: 10px;
    color: #000;
    font-size: 18px;
    border-radius: 25px 0 0 0;
}

.modaSP-page-body {
    padding: 10px;
    /* background-color: #ccc; */
}

.modaSP-or {
    margin-bottom: 5px;
}

.modaSP-page .modaSP-page-body > a {
    color: #fff;
}

.modaSP-clickhere-page {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #000;
    padding: 5px;
    color: #F0A500;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modaSP-clickhere-page:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modaSP-contact {
    width: 50%;
    text-align: center;
}

.modaSP-contact-hd {
    background-color: #000;
    padding: 10px;
    color: #F0A500;
    font-size: 18px;
    border-radius: 0 25px 0 0;
}

.modaSP-contact-body {
    padding: 10px;
    /* background-color: #F0A500; */
    background-color: #ccc;
}

.modaSP-contact-phone {
    padding: 5px 0 23px;
    /* margin: 22px; */
}

.modaSP-contact-mail {
    padding: 0;
}

.phone-inf {
    margin-bottom: 5px;
    font-size: 18px;
}

.phone-ad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-icon {
    font-size: 22px;
    margin-right: 8px;
}

.modaSP .phone-ad a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

.modaSP .phone-ad a:hover {
    opacity: 0.6;
}

.modaSP-contact-mail {
    padding: 9px 0 0;
}

.mail-info {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-icon {
    font-size: 24px;
    margin-right: 6px;
}

.mail-ct {
    display: inline-block;
    font-weight: 500;
    margin: 0;
}

.modaSP-clickhere-contact {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #F0A500;
    padding: 5px;
    color: #000;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modaSP-clickhere-contact:hover {
    cursor: pointer;
    opacity: 0.8;
}

@keyframes modalFadeInSP {
    from {
        opacity: 0;
        transform: translateX(-140px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Modal đăng ký */
/* .modaSU.open {
    display: flex;
} */

/* .modaSU {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
} */

.moda-container {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 1s;
    margin-top: 25px;
    border-radius: 25px;
}

.moda__close {
    position: absolute;
    right: 4px;
    top: 2px;
    padding: 5px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.moda__close:hover {
    /* opacity: 1; */
    color: #000;
}

.moda__close ion-icon {
    font-size: 35px;
}

.moda__hd {
    background-color: #F0A500;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    border-radius: 25px 25px 0 0;
}

.moda__hd .moda__hd-icon {
    margin-right: 20px;
}

.moda__body {
    padding: 20px;
}

.moda-input-field {
    position: relative;
    margin-bottom: 25px;
}

.moda-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid #F0A500;
    border-radius: 20px;
    transition: 0.25 ease;
}

.moda-input:focus {
    outline: none;
    border:2px solid #F0A500;
}

.input-effect {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    color: #33091b;
    /* pointer-events: none giúp phần tử bị chỉm xuống */
    pointer-events: none;
    transition: 0.25s ease;
}

.moda-input:not(:placeholder-shown) + .input-effect,
.moda-input:focus + .input-effect {
    top: 0;
    /* left: 0; */
    padding: 0 10px;
    /* cho màu của backround-color giống với màu nền thẻ chứa nó */
    background-color: white;
    /* display: inline-block; */
    color: #F0A500;
}

.moda-sign {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: #E45826;
    padding: 18px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.moda-sign:hover {
    cursor: pointer;
    opacity: 0.8;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal đăng nhập */
/* .modaSI.open {
    display: flex;
} */

/* .modaSI {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
} */



/* slider */
#slider {
    /* width: 1200px; */
    margin: auto;
    /* margin-top: 56px; */
    padding: 50px;
    /* background-image: linear-gradient(0, #00FECA, #FFD300 ); */
    background-image: linear-gradient(45deg, #FFE459, #F43B86, #3D087B, #11052C);
}

.border-slide {
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.carousel-inner {
    margin-top: 18px;
}

.carousel-inner img {
    width: 100%;
    height: 550px;
}

.icon-slide {
    font-size: 60px;
}

#demo {
    position: relative;
}

.left-icon {
    position: absolute;
    left: -30px;
}

.right-icon {
    position: absolute;
    right: -30px;
}

/* .carousel-inner .carousel-item {
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, 
    -webkit-transform 1s ease-out;
} */
.carousel .carousel-item {
    transition-duration: 1s;
}

/* content */
#content {
    /* margin-top: 56px; */
    padding: 50px;
    padding-bottom: 50px;
    height: 100vh;
    background-image: linear-gradient(45deg, #FFE459, #F43B86, #3D087B, #11052C);
}

#content .token-form {
    text-align: center;
    /* background-color:antiquewhite; */
    display: flex;
    align-items: center;
}

#content .token-form__container {
    padding: 0;
}

#content .token-input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
}

#content .token-input:focus {
    border: 2px solid #0F00FF;
}

#content .token-check {
    margin-top: 5px;
    text-align: left;
    font-size: 18px;
}

#content .btn-get-acc {
    margin-bottom: 10px;
}

#content .get-acc {
    text-align: center;
    padding: 11px 37px;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #f7a91a;
}

#content .get-acc:hover {
    cursor: pointer;
    opacity: 0.8;
}

#content .link-gr a {
    color: #0F00FF;
    font-size: 16px;
    text-decoration: none;
}

#content .manual {
    text-align: center;
}

#content .manual__container {
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 0;
}

#content .manual__hd {
    background-color: #F0A500;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
}

#content .manual__hd-ct {
    color: #f83b2d;
    text-transform: uppercase;
}

#content .manual__body {
    max-width: 600;
}

#content .manual__body-list {
    text-align: left;
    padding: 10px;
}

#content .manual__body-item {
    font-size: 20px;
    padding: 5px;
    color: #9C19E0;
}

#content .ti-hand-point-right {
    color: #FF5151;
}

#content .manual__body-caution {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

#content .caution-no {
    font-size: 25px;
    color: #dd2606;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgb(221 6 124 / 77%);
    margin: 30px 10px;
}

#content .caution-list {
    border-left: 5px solid #ff2600;
}

#content .caution-list-item {
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
    color: #FF0000;
}


/* footer */
#footer {
    height: 100px;
    background-color:rgba(0, 0, 0, 1);
    padding: 20px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 30px;
}

#footer .social-list a:hover {
    opacity: 1;
    cursor: pointer;
}

#footer .social-list a {
    text-decoration: none;
    color:#fff;
    opacity: 0.6;
    padding: 0 6px;
}

#footer .copyright {
    font-size: 18px;
    color:#fff;
}