/*  hd: header
    sd: slider
    ct: content
    ft: footer 
    moda: modal
*/

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.p-5 {
    padding: 5px !important;
}

.pad-5 {
    padding: 5px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-65 {
    padding-bottom: 65px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.bold-5 {
    font-weight: 500 !important;
}

.bold-6 {
    font-weight: 600 !important;
}

.bold-7 {
    font-weight: 700 !important;
}

.italic {
    font-style: italic !important;
    letter-spacing: 1px !important;
}

.none {
    display: none !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.color-red, .Netflix {
    color: #dd2606 !important;
}

.color-blue, .Disney {
    color: #0078e7 !important;
}

.color-orange {
    color: #F0A500 !important;
}

.color-block {
    background-color: #F0A500 !important;
}

/* header */
#header {
    height: 56px;
    background-color:rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
}

.header-guest, .header-admin {
    display: flex;
    justify-content: space-between;
}

.hd__nav-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    word-spacing: -5px;
}

.hd__nav-list ion-icon {
    font-size: 28px;
}

.hd__nav-list > .hd__nav-item > a {
    color: #fff ;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 56px;
    padding: 0 16px;
    display: block;
    z-index: 0;
    position: relative;
    cursor: pointer;
}

.hd__nav-list > .hd__nav-item:not(:first-child):before{
    content: "";
    position: absolute;
    top: 0;
    left: auto; /*change here*/
    right: 0; /*change here*/
    width: 0;
    height: 100%;
    background-color: rgba(250, 32, 61, 0.8);
    transition: .30s;
    z-index: -1;
}

.hd__nav-list > .hd__nav-item:not(:first-child):hover:before {
    width: 100%;
    left: 0; /*change here*/
    right: auto; /*change here*/
}

.hd__nav-item {
    display: inline-block;
    position: relative;
    word-spacing: 0;
}

.hd__nav-item:first-child:hover {
    opacity: 0.7;
}

.hd__nav-item-link {
    position: inherit;
    top: 6px;
}

.account {
    line-height: 56px;
    color: #fff;
    margin: 0;
    display: inline-block;
    margin-right: 8px;
    /* font-size: 18px; */
    position: relative;
    word-spacing: 0;
}

.money:hover {
    opacity: 0.8;
}

.money-icon {
    font-size: 20px;
    margin: 0 7px 0 7px;
}

.money-bg {
    background-color: rgba(136, 121, 45, 0.7);
    border-radius: 8px;
    padding: 3px;
}

.change-coin {
    padding: 12px;
    letter-spacing: 2px;
    font-size: 16px;
    font-style: italic;
}

.profile-icon {
    font-size: 35px !important;
    color: #fff;
    margin-left: 8px;
}

.profile-icon:hover {
    opacity: 0.6;
}

.hd__nav-list li:hover .subnav-admin,
.hd__nav-list li:hover .subnav {
    display: block;
}

.subnav-admin li:hover a, 
.subnav li:hover a {
    /* background-color: #F0A500; */
    /* background-color: rgba(250, 32, 61, 0.8); */
    background-image: linear-gradient(320deg, #FFE459, #F43B86, #3D087B, #11052C);
    color: #fff;
}

.subnav-admin, .subnav {
    display: none;
    position: absolute;
    top: 100%;
    right: -60px;
    min-width: 157px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 30px rgba(255, 34, 34, 0.7);
    word-spacing: initial;
    z-index: 3;
}

.subnav::before, .subnav::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: 69px;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: 0;
}

.subnav::after {
    background-color: #fff;
    top: -9px;
    left: 70px;
    z-index: -1;
}

.hd__nav-list .account a {
    text-decoration: none;
    color: #fff;
}

.account .subnav-admin a, 
.account .subnav a {
    color: #000;
    font-size: 17px;
    padding: 0 12px;
    line-height: 45px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}


/* Modal hỗ trợ */
.modaSP.open {
    display: flex;
}

.modaSP {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaSP-container {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeInSP ease 1s;
    /* margin-top: 50px; */
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    /* justify-content: space-between; */
}

.modaSP-page {
    width: 50%;
    text-align: center;
}

.modaSP-page-hd {
    background-color: #F0A500;
    padding: 10px;
    color: #000;
    font-size: 18px;
    border-radius: 25px 0 0 0;
}

.modaSP-page-body {
    padding: 10px;
    /* background-color: #ccc; */
}

.modaSP-or {
    margin-bottom: 5px;
}

.modaSP-page .modaSP-page-body > a {
    color: #fff;
}

.modaSP-clickhere-page {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #000;
    padding: 5px;
    color: #F0A500;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modaSP-clickhere-page:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modaSP-contact {
    width: 50%;
    text-align: center;
}

.modaSP-contact-hd {
    background-color: #000;
    padding: 10px;
    color: #F0A500;
    font-size: 18px;
    border-radius: 0 25px 0 0;
}

.modaSP-contact-body {
    padding: 10px;
    /* background-color: #F0A500; */
    background-color: #ccc;
}

.modaSP-contact-phone {
    padding: 5px 0 23px;
    /* margin: 22px; */
}

.modaSP-contact-mail {
    padding: 0;
}

.phone-inf {
    margin-bottom: 5px;
    font-size: 18px;
}

.phone-ad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-icon {
    font-size: 22px;
    margin-right: 8px;
}

.modaSP .phone-ad a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

.modaSP .phone-ad a:hover {
    opacity: 0.6;
}

.modaSP-contact-mail {
    padding: 9px 0 0;
}

.mail-info {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-icon {
    font-size: 24px;
    margin-right: 6px;
}

.mail-ct {
    display: inline-block;
    font-weight: 500;
    margin: 0;
}

.modaSP-clickhere-contact {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #F0A500;
    padding: 5px;
    color: #000;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modaSP-clickhere-contact:hover {
    cursor: pointer;
    opacity: 0.8;
}

@keyframes modalFadeInSP {
    from {
        opacity: 0;
        transform: translateX(-140px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Modal thông tin chi tiết */
.modaDT.open {
    display: flex;
}

.modaDT {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaDT-container {
    background-color: #fff;
    width: 370px;
    max-width: calc(100% - 32px);
    min-height: 100px;
    position: relative;
    animation: modalFadeInDA ease 1s;
    /* margin-top: 50px; */
    top: -85px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(255, 20, 20, 0.7);
}

.modaDT__close {
    position: absolute;
    right: 6px;
    top: 2px;
    padding: 2px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.modaDT__close:hover {
    /* opacity: 1; */
    color: #000;
}

.modaDT__close ion-icon {
    font-size: 25px;
}

.modaDT__hd {
    background-color: #F0A500;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 25px 25px 0 0;
}

.modaDT__body {
    padding: 10px;
}

.modaDT__body-id, .modaDT__body-username, .modaDT__body-fullname, 
.modaDT__body-mail, .modaDT__body-coin, .modaDT__body-role {
    margin: 5px;
}

.modaDT__body-left {
    width: 40%;
    text-align: left;
}

.modaDT__body-right {
    width: 80%;
    text-align: left;
}

@keyframes modalFadeInDA {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal edit manage-token */
.modaET.open {
    display: flex;
}

.modaET {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaET-container {
    background-color: #fff;
    width: 370px;
    max-width: calc(100% - 32px);
    min-height: 100px;
    position: relative;
    animation: modalFadeInRC ease 1s;
    top: -25px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(47, 255, 19, 0.7);
}

.modaET__close {
    position: absolute;
    right: 6px;
    top: 2px;
    padding: 2px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.modaET__close:hover {
    opacity: 1;
}

.modaET__close ion-icon {
    font-size: 25px;
}

.modaET__hd {
    background-color: #000;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    color: #F0A500;
    border-radius: 25px 25px 0 0;
}

.modaET__body {
    padding: 10px;
}

.modaET__body-username {
    padding: 10px;
}

.modaET__body-left {
    width: 25%;
    text-align: left;
    margin-right: 15px;
}

.modaET__body-right {
    width: 65%;
    text-align: left;
}   

.ET-confirm {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F0A500;
    color: #000;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ET-confirm:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Modal edit manage-acc */

.modaEA.open {
    display: flex;
}

.modaEA {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaEA-container {
    background-color: #fff;
    width: 370px;
    max-width: calc(100% - 32px);
    min-height: 100px;
    position: relative;
    animation: modalFadeInRC ease 1s;
    top: -25px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(255, 19, 243, 0.7);
}

.modaEA__close {
    position: absolute;
    right: 6px;
    top: 2px;
    padding: 2px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.modaEA__close:hover {
    opacity: 1;
}

.modaEA__close ion-icon {
    font-size: 25px;
}

.modaEA__hd {
    background-color: #000;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    color: #F0A500;
    border-radius: 25px 25px 0 0;
}

.modaEA__body {
    padding: 10px;
}

.modaEA__body-username {
    padding: 10px;
}

.modaEA__body-left {
    width: 30%;
    text-align: left;
    margin-right: 15px;
}

.modaEA__body-right {
    width: 60%;
    text-align: left;
}   

.EA-confirm {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F0A500;
    color: #000;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.EA-confirm:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Modal edit manage-user */
.modaEU.open {
    display: flex;
}

.modaEU {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaEU-container {
    background-color: #fff;
    width: 370px;
    max-width: calc(100% - 32px);
    min-height: 100px;
    position: relative;
    animation: modalFadeInRC ease 1s;
    top: -25px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(19, 82, 255, 0.7);
}

.modaEU__close {
    position: absolute;
    right: 6px;
    top: 2px;
    padding: 2px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.modaEU__close:hover {
    opacity: 1;
}

.modaEU__close ion-icon {
    font-size: 25px;
}

.modaEU__hd {
    background-color: #000;
    padding: 10px 25px;
    text-align: center;
    font-size: 20px;
    color: #F0A500;
    border-radius: 25px 25px 0 0;
}

.modaEU__body {
    padding: 10px;
}

.modaEU__body-username {
    padding: 10px;
}

.modaEU__body-left {
    width: 30%;
    text-align: left;
    margin-right: 15px;
}

.modaEU__body-right {
    width: 60%;
    text-align: left;
}   

.EU-confirm {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F0A500;
    color: #000;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.EU-confirm:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Modal nạp tiền */
.modaRC.open {
    display: flex;
}

.modaRC {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaRC-container-guest, .modaRC-container-admin{
    background-color: #fff;
    width: 400px;
    max-width: calc(100% - 32px);
    min-height: 100px;
    position: relative;
    animation: modalFadeInRC ease 1s;
    top: -85px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(255, 178, 34, 0.7);
}

.modaRC__close {
    position: absolute;
    right: 6px;
    top: 2px;
    padding: 2px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.modaRC__close:hover {
    opacity: 1;
}

.modaRC__close ion-icon {
    font-size: 25px;
}

.modaRC__hd {
    background-color: #000;
    padding: 10px 25px;
    text-align: center;
    font-size: 22px;
    color: #F0A500;
    border-radius: 25px 25px 0 0;
}

.modaRC__body, .modaRC__body-id, .modaRC__body-username {
    padding: 10px;
    font-size: 20px;
}

.modaRC__body-contact {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #f01c00;
    margin-bottom: 5px;
}

.modaRC__body-guest-left {
    width: 80%;
    text-align: right;
    margin-right: 10px;
}

.modaRC__body-guest-right {
    width: 50%;
    text-align: left;
}

.modaRC__body-admin-left {
    width: 30%;
    text-align: left;
    margin-right: 15px;
}

.modaRC__body-admin-right {
    width: 70%;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}

.RC-confirm {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F0A500;
    color: #000;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.RC-confirm:hover {
    opacity: 0.8;
    cursor: pointer;
}

.message {
    color: red;
    text-align: center;
    padding: 8px 0;
}

@keyframes modalFadeInRC {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal thông tin chi tiết page "Quản lý danh sách*/
.modaID.open {
    display: flex;
}

.modaID {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.modaID-container {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    min-height: 100px;
    position: relative;
    animation: modalFadeInRC ease 1s;
    top: -25px;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 253, 55, 0.7);
}

.modaID__close {
    position: absolute;
    right: 8px;
    top: 4px;
    padding: 2px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.modaID__close:hover {
    opacity: 1;
}

.modaID__close ion-icon {
    font-size: 25px;
}

.modaID__hd {
    background-color: #000;
    padding: 10px 25px;
    text-align: center;
    font-size: 22px;
    color: #F0A500;
    border-radius: 25px 25px 0 0;
}

.modaID__body, .modaID__body-username {
    padding: 10px;
    font-size: 18px;
}

.modaID__body-left {
    width: 35%;
    text-align: left;
}

.modaID__body-right {
    width: 80%;
    text-align: left;
}

.modaID__form-left {
    width: 30%;
    text-align: left;
}

.modaID__form-mid {
    width: 35%;
}

.modaID__form-right {
    width: 35%;
    text-align: left;
}

.modaID__mail-acc {
    padding: 5px 0;
}

.ID-btn {
    text-align: center;
}

.ID-btn-reuse, .ID-btn-delete {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.ID-btn-reuse {
    color: #000;
    background-color: #F0A500;
}

.ID-btn-delete {
    color: #F0A500;
    background-color: #000;
}

.ID-btn-reuse:hover, .ID-btn-delete:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ID-confirm {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F0A500;
    color: #000;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ID-confirm:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Modal đăng ký */
/* .modaSU.open {
    display: flex;
} */

/* .modaSU {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
} */

.moda-container {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 1s;
    margin-top: 25px;
    border-radius: 25px;
}

.moda__close {
    position: absolute;
    right: 4px;
    top: 2px;
    padding: 5px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.moda__close:hover {
    /* opacity: 1; */
    color: #000;
}

.moda__close ion-icon {
    font-size: 35px;
}

.moda__hd {
    background-color: #F0A500;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    border-radius: 25px 25px 0 0;
}

.moda__hd .moda__hd-icon {
    margin-right: 20px;
}

.moda__body {
    padding: 20px;
}

.moda-input-field {
    position: relative;
    margin-bottom: 25px;
}

p.modal-alert {
    color: red;
    font-weight: 700;
    margin: -10px 10px;
}

.moda-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid #F0A500;
    border-radius: 20px;
    transition: 0.25 ease;
}

.moda-input:focus {
    outline: none;
    border:2px solid #F0A500;
}

.input-effect {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    user-select: none;
    color: #33091b;
    /* pointer-events: none giúp phần tử bị chỉm xuống */
    pointer-events: none;
    transition: 0.25s ease;
}

.moda-input:not(:placeholder-shown) + .input-effect,
.moda-input:focus + .input-effect {
    top: 0;
    /* left: 0; */
    padding: 0 10px;
    /* cho màu của backround-color giống với màu nền thẻ chứa nó */
    background-color: white;
    /* display: inline-block; */
    color: #F0A500;
}

.moda-sign {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: #E45826;
    padding: 18px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.moda-sign:hover {
    cursor: pointer;
    opacity: 0.8;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal đăng nhập */
/* .modaSI.open {
    display: flex;
} */

/* .modaSI {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 15;
} */



/* slider */
#slider {
    /* width: 1200px; */
    margin: auto;
    /* margin-top: 56px; */
    padding: 50px;
    /* background-image: linear-gradient(0, #00FECA, #FFD300 ); */
    background-image: linear-gradient(45deg, #FFE459, #F43B86, #3D087B, #11052C);
}

.border-slide {
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.carousel-inner {
    margin-top: 18px;
}

.carousel-inner img {
    width: 100%;
    height: 550px;
}

.icon-slide {
    font-size: 60px;
}

#demo {
    position: relative;
}

.left-icon {
    position: absolute;
    left: -30px;
}

.right-icon {
    position: absolute;
    right: -30px;
}

/* .carousel-inner .carousel-item {
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, 
    -webkit-transform 1s ease-out;
} */
.carousel .carousel-item {
    transition-duration: 2s;
}

/* content */
#content {
    /* margin-top: 56px; */
    padding: 50px 50px 70px;
    /* padding-bottom: 50px; */
    min-height: 100vh;
    background-image: linear-gradient(45deg, #FFE459, #F43B86, #3D087B, #11052C);
}

#content .token-form {
    text-align: center;
    /* background-color:antiquewhite; */
    display: flex;
    align-items: center;
}

#content .token-form__container {
    padding: 0;
}

#content .token-input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
}

#content .token-input:focus {
    border: 2px solid #0F00FF;
}

#content .token-check {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
}

#content .btn-get-acc-container {
    display: flex;
    justify-content: space-between;
}

#content .btn-get-acc {
    margin-bottom: 10px;
}

#content .get-acc {
    text-align: center;
    padding: 11px 37px;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #f7a91a;
}

#content .get-acc:hover {
    cursor: pointer;
    opacity: 0.8;
}

#content .link-gr a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

#content .link-gr a:hover {
    opacity: 0.7;
}

#content .manual {
    text-align: center;
}

#content .manual__container {
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 0;
}

#content .manual__hd {
    background-color: #F0A500;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
}

#content .manual__hd-ct {
    color: #f83b2d;
    text-transform: uppercase;
}

#content .manual__body {
    max-width: 600;
}

#content .manual__body-list {
    text-align: left;
    padding: 10px;
}

#content .manual__body-item {
    font-size: 20px;
    padding: 5px;
    color: #9C19E0;
}

#content .ti-hand-point-right {
    color: #FF5151;
}

#content .manual__body-caution {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

#content .caution-no {
    font-size: 25px;
    color: #dd2606;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgb(221 6 124 / 77%);
    margin: 30px 10px;
}

#content .caution-list {
    border-left: 5px solid #ff2600;
}

#content .caution-list-item {
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
    color: #FF0000;
}

/* content Page "get-token" */
#content .get-token-container {
    background-color: antiquewhite;
    margin-top: 50px;
    border-radius: 20px;
    min-width: 285px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 1);
}

#content .get-token-hd {
    font-size: 25px;
    text-align: center;
    padding: 10px 20px;
}

#content .get-token-body  {
    padding: 10px 30px 20px;
}

#content .get-token-mon {
    width: 100%;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
}

#content .get-token-sv, .get-token-type {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

#content .get-token-left {
    width: 30%;
    text-align: left;
}

#content .get-token-mid {
    width: 35%;
    text-align: left;
}

#content .get-token-right {
    width: 35%;
    text-align: left;
}

#content .get-token-right2 {
    flex: 1;
    text-align: left;
}

#content .get-token-price {
    color: red;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
}

#content .btn-get-token {
    text-align: center;
}

#content .btn-get {
    width: 75%;
    font-size: 17px;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid #ff7259;
    background-color: #F0A500;
}

#content .btn-get:hover {
    opacity: 0.8;
    cursor: pointer;
}

#content .token-output {
    width: 100%;
    padding: 7px 0;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
}

/* content Page "manage_account" */

#content .table__acc-container {
    background-color: antiquewhite;
    margin-top: 50px;
    border-radius: 20px;
}

#content .table__acc-title {
    padding: 20px;
    text-align: center;
    background-color: #000;
    border-radius: 20px 20px 0 0;
}

#content .table__acc-name-title {
    font-size: 25px;
    color: #F0A500;
}

#content .table__acc-name-sv {
    opacity: 0.6;
    cursor: pointer;
    text-decoration: none;
}

#content .table__acc-name-sv.active {
    opacity: 1;
}

#content .table__acc-name-sv,
.table__acc-name-divive {
    font-size: 25px;
    color: #fff;
}

#content .table__acc-input {
    padding: 20px 130px;
}

#content .table__acc-input-filed {
    width: 35%;
}

#content .input-table_acc {
    font-size: 17px;
}

#content .input-table_acc {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid #F0A500;
    border-radius: 20px;
    transition: 0.25 ease;
}

#content .table__acc-input-opt {
    
}

#content .input-opt-label {
    display: inline-block;

}

#content .btn-add {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F0A500;
    color: #000;
    width: 20%;
    font-size: 17px;
}

#content .btn-add:hover {
    background-color: #F0A500;
    border: 2px solid #000;
    cursor: pointer;
}

#content .table__acc {
    padding-bottom: 25px;
    display: none;
}

#content .table__acc.active {
    padding-bottom: 25px;
    display: block;
}

#content .table__acc-list {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 50px;
}

#content .table__acc-list:first-child {
    border-bottom: 2px solid #0078e7;
} 

#content .row-table_acc {
    font-size: 18px;
    color: #000;
}

#content .table__acc-id {
    width: 25px;
}

#content .table__acc-mail {
    width: 270px;
}

#content .table__acc-pass {
    width: 150px;
}

#content .table__acc-type {
    width: 50px;
}

#content .table__acc-status {
    width: 140px;
}

#content .table__acc-edit {
    width: 110px;
}

#content .table__acc-icon {
    margin: 0 5px;
}

#content .table__acc-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

#content .nums-page {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#content .nums-page .num-page {
    text-decoration: none;
}

#content .num-page > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F0A500;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

#content .num-page:hover {
    opacity: 0.8;
}

/* content Page "manage_user" */
#content .table__user-container {
    background-color: antiquewhite;
    margin-top: 50px;
    border-radius: 20px;
}

#content .table__user-title {
    padding: 20px;
    text-align: center;
    background-color: #000;
    border-radius: 20px 20px 0 0;
}

#content .table__user-name-title {
    font-size: 25px;
    color: #F0A500;
}

#content .table__user-icon-title {
    font-size: 30px;
    margin-left: 10px;
}

#content .table__user-input {
    margin: 10px;
    text-align: right;
}

#content .table__user {
    padding-bottom: 25px;
}

#content .table__user-list {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 50px;
}

#content .table__user-list:first-child {
    border-bottom: 2px solid #0078e7;
} 

#content .row-table_user {
    font-size: 18px;
    color: #000;
}

#content .table__user-id {
    width: 25px;
}

#content .table__user-name {
    width: 100px;
}

#content .table__user-pass {
    width: 100px;
}

#content .table__user-fname {
    width: 170px;
}

#content .table__user-email {
    width: 270px;
}

#content .table__user-role {
    width: 110px;
}

#content .table__user-edit {
    width: 110px;
}

#content .table__user-icon {
    margin: 0 5px;
}

#content .table__user-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* content Page "manage_token" */
#content .table__token-container {
    background-color: antiquewhite;
    margin-top: 50px;
    border-radius: 20px;
}

#content .table__token-title {
    padding: 20px;
    text-align: center;
    background-color: #000;
    border-radius: 20px 20px 0 0;
}

#content .table__token-name-title {
    font-size: 25px;
    color: #F0A500;
}

#content .table__token-icon-title {
    font-size: 30px;
    margin-left: 10px;
}

#content .table__token {
    padding-bottom: 25px;
}

#content .table__token-list {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 50px;
}

#content .table__token-list:first-child {
    border-bottom: 2px solid #0078e7;
} 

#content .row-table_token {
    font-size: 18px;
    color: #000;
}

#content .table__token-id {
    width: 25px;
}

#content .table__token-nametoken {
    width: 120px;
}

#content .table__token-type {
    width: 55px;
}

#content .table__token-service {
    width: 100px;
}

#content .table__token-time {
    width: 130px;
}

#content .table__token-dataget {
    width: 200px;
}

#content .table__token-edit {
    width: 110px;
}

#content .table__token-icon {
    margin: 0 5px;
}

#content .table__token-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* content Page "manage_list" */
#content .table__list-container {
    background-color: antiquewhite;
    margin-top: 50px;
    border-radius: 20px;
}

#content .table__list-title {
    padding: 20px;
    text-align: center;
    background-color: #000;
    border-radius: 20px 20px 0 0;
}

#content .table__list-name-title {
    font-size: 25px;
    color: #F0A500;
}

#content .table__list-icon-title {
    font-size: 30px;
    margin-left: 10px;
}

#content .table__list {
    padding-bottom: 25px;
}

#content .table__list-outside {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 0 50px;
}

#content .table__list-list:first-child {
    border-bottom: 2px solid #0078e7;
} 

#content .row-table_list {
    font-size: 18px;
    color: #000;
}

#content .table__list-nametoken {
    width: 130px;
}

#content .table__list-type {
    width: 55px;
}

#content .table__list-service {
    width: 100px;
}

#content .table__list-time {
    width: 100px;
}

#content .table__list-email {
    width: 270px;
}

#content .table__list-pass {
    width: 100px;
}

#content .table__list-dataget {
    width: 180px;
}

#content .table__list-edit {
    width: 90px;
}

#content .table__list-icon {
    margin: 0 5px;
}

#content .table__list-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* content page "price_service*/
#content .list-price__services {
    text-align: center;
    font-size: 35px;
    margin-top: 56px;
    color: #fff;
}

#content .list-price__services-name {
    cursor: pointer;
    opacity: 0.6;
}

#content .list-price__services-name.active {
    opacity: 1;
}

#content .list-price-outside {
    display: none;
}

#content .list-price-outside.active {
    display: block;
}

#content .list-price {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 50px;
}

#content .item-price {
    border-radius: 20px;
    border: 3px solid #0a1931;
    box-shadow: 2px 2px #0a1931;
    background: #fff;
    width: calc(23% - 5px);
    overflow: hidden;
    transition: all .2s ease;
    margin: 10px 0;
}

#content .item-price:hover {
    transform: scale(1.10);
}

#content .item-price__title {
    background-color: #F0A500;
    border-bottom: 3px solid #000;
}

#content .item-price__title-hd {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

#content .item-price__body {
    text-align: center;
    padding: 10px;
}

#content .item-price-date {
    font-weight: 700;
    font-size: 18px;
    color: #0078e7;
    margin: 10px 0;
}

#content .item-price-quality {
    font-weight: 700;
    font-size: 18px;
    color: #dd067b;
}

#content .btn-price {
    color: #0a1931;
    letter-spacing: 2px;
    padding: 8px 16px;
    border-radius: 20px;
    background: #ffc947;
    margin: 10px 0 6px;
    font-size: 17px;
}

#content .btn-price:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* footer */
#footer {
    min-height: 100px;
    background-color:rgba(0, 0, 0, 1);
    padding: 20px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 30px;
}

#footer .social-list a:hover {
    opacity: 1;
    cursor: pointer;
}

#footer .social-list a {
    text-decoration: none;
    color:#fff;
    opacity: 0.6;
    padding: 0 6px;
}

#footer .copyright {
    font-size: 18px;
    color:#fff;
}